@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* Estilos Personalizados */
.text-instagram-gradient {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  color: transparent;
}

.mb-pages {
  margin-bottom: 2rem;
}

.font-bad-script {
  font-family: 'bad script', cursive;
}

@tailwind base;
@tailwind components;
@tailwind utilities;